* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #8cd18c;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}
.am-product {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #8cd18c;
}
.am-product h3 {
    padding-bottom: 10px;
}
.am-cart li {
    margin-left: 16px;
    padding-bottom: 5px;
}
.am-cart-total {
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
}
.am-payment {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #8cd18c;
    border-radius: 5px;
    display: inline-block;
}